{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Feedbacks{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('feedback.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for feedback in feedbacks %}
    <article class="feedback">
      <header>
        <div>
          <h1>{{ feedback['title'] }}</h1>
          <div class="about">by {{ feedback['username'] }} on {{ feedback['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == feedback['author_id'] %}
          <a class="action" href="{{ url_for('feedback.update', id=feedback['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ feedback['comment'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}